$sizes: (
    pixel: 1px,
    root: 16px,
    text: 1rem,
    line-height: 1.5,
    container-width: 1200px,
    margin: 20px,
    gutter: 1rem,
    device-gutter: .5rem,
    spacing: 4rem,
    device-spacing: 4rem,
    breakpoint-small: 375px,
    breakpoint-medium: 767px,
    breakpoint-large: 1200px,
    breakpoint-largest: 1520px,
    dynamic-font-size-adjuster: 2.6666666667vw,
    ratio-square: 100%,
    ratio-hd-landscape: percentage(1080/1920),
    ratio-hd-portrait: percentage(1920/1080)
);

$colors: (
    text: #FFFFFF,
    bg: #243382
);

$fonts: (
    primary: (
        'Work Sans',
        sans-serif
    )
);

$font-weight: (
    regular: 400,
    bold: 700
);

$transitions: (
    normal: 0.4s,
);