/* ==========================================================================
  Helper classes
  ========================================================================== */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.focusable.sr-only:active,
.focusable.sr-only:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.content-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
}

/* ==========================================================================
  Helper classes
  ========================================================================== */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.focusable.sr-only:active,
.focusable.sr-only:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
  font-size: 16px;
  height: 100%;
}

body {
  overflow-anchor: none;
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #243382;
  height: 100%;
}

/* Hero */
.hero {
  height: 800px;
}

@media (min-width: 767px) {
  .hero {
    height: 600px;
  }
}

.hero__image {
  background-image: url("../img/hero.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero__text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text img {
  width: 100%;
  height: 100%;
}

.hero .logo {
  width: 140px;
}

@media (min-width: 767px) {
  .hero__message {
    max-width: 650px;
  }
}

/* Body */
.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.body__content__container {
  padding: 2.5rem 20px;
}

@media (min-width: 1200px) {
  .body__content__container {
    padding: 5rem 20px;
  }
}

@media (min-width: 767px) {
  .body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .body__content {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .body__content__container {
    max-width: 600px;
    margin-left: auto;
    margin-right: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 4rem;
  }
}

.body__image {
  width: 100%;
}

@media (min-width: 767px) {
  .body__image {
    width: 50%;
  }
}

.body__image img {
  max-height: 500px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* Product */
.product {
  background-color: #e6f0fe;
  padding: 4rem 0;
}

.product__tiles ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__tiles li {
  height: 480px;
  margin: .25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid gray;
  background: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(236px - 1rem);
          flex: 0 1 calc(236px - 1rem);
  /* <-- adjusting for margin */
}
/*# sourceMappingURL=main.css.map */