@import 'variables';
@import 'classes';
@import 'helpers';
@import 'mixins';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  font-size: map-get($sizes, root);
  height: 100%;
}

body {
  overflow-anchor: none;
  font-family: map-get($fonts, primary);
  color: map-get($colors, text);
  font-size: map-get($sizes, text);
  line-height: map-get($sizes, line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: map-get($colors, bg);
  height: 100%;
}

.content-container {
  @extend %container;
}

.sr-only {
  @extend %sr-only;
}

/* Body */
.body {
  display: flex;
  flex-flow: column ;

  &__content {
    &__container {
      padding-left: map-get($sizes, margin);
      padding-right: map-get($sizes, margin);
    }
  }

  @include breakpoint(medium-up) {
    flex-flow: row;

    &__content {
      width: 50%;
      display: flex;
      align-items: center;
  
      &__container {
        max-width: 600px;
        margin-left: auto;
        margin-right: 0;
        box-sizing: border-box;
        padding-right: map-get($sizes, spacing);
      }
    }
  }
  &__image {
    width: 100%;

    @include breakpoint(medium-up) {
      width: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
}

/* Product */

.product {
  background-color: #e6f0fe;
  padding: map-get($sizes, spacing) 0;

  &__tiles {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      position: relative;
      width: 100%;
      justify-content: center;
    }

    li {
      height: 480px;
      margin: .5rem;
      box-sizing: border-box;
      border: 1px solid gray;
      background: white;
      flex: 0 1 calc(236px - 1rem); /* <-- adjusting for margin */
    }
  }
}